* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(195, 50%, 79%);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 9rem;
}

.logo{
    fill: hsl(219, 79%, 66%);
    width: 3rem;
}

.logo svg{
    fill: hsl(0, 0%, 100%);
    width: 3rem;
}

.burger-menu svg{
    fill: hsl(0, 0%, 100%);
    width: 3rem;
}

main{
    display: flex;
    gap: 3rem;
}

.filter {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
}

.filter svg{
    fill: hsl(219, 79%, 66%);
    width: 2rem;
}

.tables{
    width: 25%;
    margin: 2rem;
}

.table-top{
    background-color: hsl(225, 54%, 33%);
}

.table-edit{
    display: flex;
    justify-content: flex-end;
}

.table-top .table-edit .pencil svg{
    width: 2rem;
    height: 2rem;
    fill: hsl(0, 0%, 100%);
}

.table-top .table-edit .trash svg{
    width: 2rem;
    height: 2rem;
    fill: hsl(0, 0%, 100%);
}

.table-info{
    background-color: hsl(0, 0%, 100%);
}

.table-info ul{
    list-style: none;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: hsl(0, 0%, 15%);
    font-family: 'Roboto Condensed', sans-serif;
}

form{
    width: 60%;
    height: 80%;
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.form-row{
    width: 70%;
}

.form-element-label{
    width: 98.5%;
    background-color: hsl(225, 54%, 33%);
    padding: 0.2rem;
}

label{
    color: hsl(0, 0%, 100%);
    width: 80%;
    height: 80%;
    font-size: large;
    border: none;
    padding: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-element-input{
    margin-bottom: 1rem;
    background-color: hsl(0, 0%, 100%);
}

input{
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 0.5rem;
    outline: auto;
}

.form-save{
    width: 100%;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.25rem;
}

button .form-save{
    width: 100%;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.25rem;
}

.form-save svg{
    width: 3rem;
    height: 3rem;
    fill: hsl(219, 79%, 66%);
}


