
.filter {
    background-color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.filter-slide{
    background: transparent;
    border: none;
    cursor: pointer;
}

.filter svg{
  fill: hsl(219, 79%, 66%);
  width: 2rem;
}

.filter-modal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 14%, 0.555);
    visibility: hidden;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    overflow: hidden;
    transition: opacity 200ms ease-in, visibility 0ms ease-in 0ms;
    z-index: 1002;
    
}

.filter-modal.active{
    opacity: 1;
    visibility: visible;
}

.filter-menu{
    background-color: hsl(195, 50%, 79%);
    padding: 1rem;
}

.filter-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.filter-form .form-row{
    justify-content: space-between;
}

.filter-form h3{
    font-family: 'Roboto Condensed', sans-serif;
    color: hsl(0, 0%, 0%);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.button-filter button{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    background-color: hsl(88, 67%, 62%);
    padding: 1rem;
    cursor: pointer;
    width: 9rem;
}

.button-cancel button{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    background-color: hsl(0, 77%, 66%);
    padding: 1rem;
    cursor: pointer;
    width: 9rem;
}
