.form{
    flex: 2;
}
  
  .form-clean-button button,
  .form-save-button button {
    border: none;
    background: none;
}

  .form-clean-button button svg,
  .form-save-button button svg {
    width: 2rem;
}
  
  .form-clean-button button svg path,
  .form-save-button button svg path {
    fill: $secondary-color;
}
  
  .form-clean-button button:hover svg path,
  .form-save-button button:hover svg path {
    fill: $primary-color;
}

.form-row{
    display: flex;
    gap: 1rem;
}

.form-element{
    flex: 1;
}

.form-element-label{
    background-color: $primary-color;
    padding: 0.2rem;
}

label{
    color: hsl(0, 0%, 100%);
    font-size: large;
    border: none;
    padding: 1rem;
    font-family: $font-stack-condensed;
}

.form-element-input{
    margin-bottom: 1rem;
    background-color: hsl(0, 0%, 100%);
}

.form-element-input textarea{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    border: none;
}

input, select{
    box-sizing: border-box;
    padding: 0.5rem;
    outline: auto;
    width: 100%;
}

