//z-index
$z-index-burger-menu: 1001;
$z-index-burger: 1000;

//typography
$font-stack: 'Roboto', sans-serif;
$font-stack-condensed: 'Roboto Condensed', sans-serif;

//colors
$background-color: hsl(195, 50%, 79%);
$background-color-menu: hsl(0, 79%, 34%);
$primary-color: hsl(225, 54%, 33%);
$secondary-color: hsl(219, 79%, 66%);
$affirmative-color: hsl(88, 67%, 62%);
$negative-color: hsl(0, 77%, 66%);
